{% include 'base.jinja2' %}
{% block headbase %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_graph.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.min.css') }}">

    <script src="{{ url_for('static', filename='js/libs/dataTables.min.js') }}"></script>

    {% block head %}{% endblock %}
{% endblock %}

{% block title %}
    <title>{{ request.args.get("path") }} Graph</title>
{% endblock %}

{% block body %}
    <script type="application/json" id="shacl-config">
    {
        "graph":      {{ graph_json | tojson }},
        "path":       {{ request.args.get("path") | tojson }},
        "altViewUrl": {% block alt_view_url %}"#"{% endblock %}
    }
    </script>

    <span id="optionBtn" class="option-btn">&#9776; Options</span>
    <div id="mySidenav" class="sidenav leftnav closeLeftNav">
        <div class="wrapper">
            <div id="search-wrapper" class="search-input">
                <a id="search-linkTag" href="" target="_blank" hidden></a>
                <input id="search-input" type="text" placeholder="Search for Shape...">
                <div id="search-sugg" class="autocom-box">
                </div>
                <div id="search-icon" class="icon"><i class="fas fa-search"></i></div>
            </div>
        </div>
        <a href="javascript:void(0)" id="hideUnrelatedClasses"><i class=''></i>Show Selected Shape Only
            <label class="switch">
                <input type="checkbox" disabled="disabled">
                <span class="slider round"></span>
            </label>
        </a>
        <a href="javascript:void(0)" id="highlightSelectedNode"><i class=''></i>Highlight Selected
            <label class="switch">
                <input type="checkbox" disabled="disabled" checked>
                <span class="slider round"></span>
            </label>
        </a>
        <a href="javascript:void(0)" id="focusNode"><i class="fas fa-crosshairs option-icon"></i> Focus Selected Shape</a>
        <a href="javascript:void(0)" id="centerGraph"><i class="fas fa-expand option-icon"></i> Center Graph</a>
        <a href="javascript:void(0)" id="expandAll"><i class="fa fa-expand-arrows-alt option-icon" aria-hidden="true"></i> Expand All</a>
        <a href="javascript:void(0)" id="collapseAll"><i class='fas fa-compress-arrows-alt option-icon'></i> Collapse All</a>
        <a href="javascript:void(0)" id="hideAttributes"><i class=''></i> Hide Intra-Constraints
            <label class="switch">
                <input type="checkbox" disabled="disabled">
                <span class="slider round"></span>
            </label>
        </a>
        <button class="accordion">Links Length</button>
        <div class="slider-container panel">
            <label for="class2classLinkSlider">Shape to Shape link</label>
            <input type="range" class="range-style" id="class2classLinkSlider" min="0" max="200">
            <o>150</o>
            <label for="attributeLinkSlider">Shape to Intra-Constraint link</label>
            <input type="range" class="range-style" id="attributeLinkSlider" min="0" max="200">
            <o>150</o>
            <label for="toConstraintLinkSlider">Shape to Inter-Constraint link</label>
            <input type="range" class="range-style" id="toConstraintLinkSlider" min="0" max="200">
            <o>150</o>
            <label for="fromConstraintLinkSlider">Inter-Constraint to Shape link</label>
            <input type="range" class="range-style" id="fromConstraintLinkSlider" min="0" max="200">
            <o>150</o>
        </div>
        <button class="accordion">Validation Intensity Categorization</button>
        <div class="slider-container panel">
            <label for="lowValidationPercentage">Low Invalid Percentage</label>
            <input type="range" class="range-style" id="lowValidationPercentage" min="0" max="100">
            <o>60</o>
            <label for="HighValidationPercentage">High Invalid Percentage</label>
            <input type="range" class="range-style" id="HighValidationPercentage" min="0" max="100">
            <o>90</o>
        </div>
    </div>
    <div id="topRightButtons" style="display: none;">
        <button id="closeDataGraph" class="btn btn-block btn-right-nav btn-primary"
                style="display: block;max-width: 180px;margin-right: 52px;">Back to Data Table
        </button>
    </div>
    <div id="rightTabs">
        <span id="infoBtn" class="right-tab-btn">Info</span>
        <span id="shapeBtn" class="right-tab-btn">Shapes</span>
        <span id="validationBtn" class="right-tab-btn">Validation</span>
    </div>
    <div id="myRightSidenav" class="sidenav rightnav closeRightNav">
        <div id="infoMenu">
            <button class="accordion active">Meta Data</button>
            <div class="slider-container panel">
                <div id="infoStatistic"></div>
            </div>
            <button class="accordion active">Constraints</button>
            <div class="slider-container panel">
                <div id="infoTree"></div>
            </div>
        </div>
        <div id="nodeChecklist">
            <ul></ul>
        </div>
        <div id="validationMenu">
            <button id="ValidationEndpointAccordion" class="accordion active">Validation Endpoint</button>
            <div id="validationEndpointWrapper" class="wrapper slider-container panel"
                 style="overflow: visible;">
                <div style="padding: 10px 0px;">
                    <div id="endpointWrapper" class="search-input">
                        <a id="endpointLinkTag" href="" target="_blank" hidden></a>
                        <input id="endpointInputBox" type="text" placeholder="Endpoint Address...">
                        <div id="endpointSuggBox" class="autocom-box">
                        </div>
                        <div id="endpointIcon" class="icon"><i class="fas fa-angle-down"></i></div>
                    </div>
                </div>
            </div>
            <button class="accordion active">Total Validation Data</button>
            <div class="slider-container panel">
                <div id="totalValidationData"></div>
            </div>
            <button class="accordion active">Selected Shape Data</button>
            <div class="slider-container panel">
                <div id="selectedValidationRequest">
                    <button id="requestValidationBtn" class="btn btn-primary btn-block btn-right-nav" style="display:none;">Request Validation</button>
                </div>
                <div id="selectedValidationData"></div>
                <button id="ViewDataBtn" class="btn btn-primary btn-block btn-right-nav" style="display:none;">View Data</button>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="3d-graph" style="position: absolute;top: 0;"></div>
        <div id="data-table-container"
             style="display: none; padding: 0px 60px 15px 15px; transition: margin 0.5s ease 0s;">
            <button id="close-table-btn" class="btn btn-primary btn-block"
                    style="display: block;max-width: 96px;right: 0;float: right;margin: 10px 0px;">Close
            </button>
            <div id="data-table"></div>
        </div>
        <div id="loader" class="loader"></div>
    </div>
{% endblock %}
