{% extends 'base_graph.jinja2' %}

{% block alt_view_url %}"{{ url_for('graph2d') }}"{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/3d-force-graph.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/graph_3d.js') }}"></script>
{% endblock %}
