{% extends 'base.jinja2' %}

{% block headbase %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block body %}
    <div class="main">
        <h2>SHACL Network List</h2>
        {% for item in data %}
            {% if item.isNetwork %}
                <div class="card">
                    <a href="{{ url_for("graph3d") }}?path={{ item.dir }}">
                        <div class="container">
                            <h4><i class="fas fa-project-diagram icon"></i><b>{{ item.name }}</b></h4>
                            <p>Number of shapes: {{ item.filecount }}</p>
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="card folder">
                    <a href="/?path={{ item.dir }}">
                        <div class="container">
                            <h4><i class="fa fa-solid fa-folder icon"></i><b>{{ item.name }}</b></h4>
                            <p>Folders inside: {{ item.filecount }}</p>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
